.footer {
	background: #222;
	text-align: center;
	padding: 6px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

a {
	color: #222;
}

.footer p{
	color: #9D9D9D;
	margin: auto;
}

.menu_p {
	margin: 5px 0px 0px 0px;
	color: #999999;
	font-family: 'Calibri', sans-serif;
	border-bottom: 1px solid #999999;
	font-weight: bold;
	font-size: 20px;
}

.dropdown-menu{width: 300px;border-top:0px;margin-top:3px;}
.dropdown-menu .col-sm-12{margin-bottom:7px;}
.dropdown-menu:after{
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: relative;
	top: -6px;
	right: 10px;
}

.navbar-brand {
	height: 50px;
	margin-top: -17px;
}

.error {
	font-weight: bold;
	color: red;
}

.header{
	height: 50px;
}

h2{
	text-align: center;
}

.alert {
	text-align: center;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Toggle Styles */

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    top: 100px;
    margin-left: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: #D60202 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }


    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}

.navbar-inverse {
	border-color: #222;
}

.main_p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
.btnActive {
	background-color: #21A957;
	padding: 5px 10px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
}

.btnNotActive {
	background-color: #C0C0C0;
	padding: 5px 10px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	pointer-events: none;
   	cursor: default;
}

#captchaCode {
	margin-top: 10px;
}

.likeabutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-radius: 5px;
    background-color: #21A957;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
}

.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	cursor: pointer;
	*cursor: hand;
	margin: 8px;
	color: #21A957 !important;
	font-weight: bold;
}

.dataTables_filter {
	margin-top: 10px;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}

.dataTables_info {
	text-align: center;
}

.dataTables_paginate {
	text-align: center;
}

.dataTables_length {
	text-align: center;
}

.dataTables_filter {
	text-align: center;
	margin-bottom: 20px;
}